<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>means</title>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>
<body>
<header class="common">
  <%- include('header'); %>
</header>
<main>
  <ul class="archives">
    <% archives.forEach(function (archive) { %>
        <li><a href="/readarchive/<%= archive.id %>"><%= archive.name %></a><br><img class="image1" src="<%= archive.image1 %>"></li>
      <% }); %>
    </ul>
  
</main>

<footer class="common">
  <%- include('footer'); %>
</footer>
</body>
</html>