<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>means</title>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <header class="common">
    <%- include('header'); %>
  </header>
  <main>
    <div class="article-container">
      <h1><%= archive.name %></h1>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% if (archive.image1) { %>
          <div class="swiper-slide"><img class="img" src="<%= archive.image1 %>"></div>
          <% } %>
          <% if (archive.image2) { %>
          <div class="swiper-slide"><img class="img" src="<%= archive.image2 %>"></div>
          <% } %>
          <% if (archive.image3) { %>
          <div class="swiper-slide"><img class="img" src="<%= archive.image3 %>"></div>
          <% } %>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <p class="text"><%= archive.text %></p>
    </div>
  </main>

  <footer class="common">
    <%- include('footer'); %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
      speed: 400,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true, // This should be a boolean, not a string
      },
    });
  </script>
</body>
</html>
